.link-card {
  /* @apply bg-amber-100; */

  display: flex;
  gap: 1em;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid hsla(133, 100%, 85%, 1);
  padding-bottom: 1em;
}

.link-card img {
}

.link-card a {
  text-transform: uppercase;
}

.link-card a[href]::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
