body {
  font-family: var(--body), Arial;
  font-display: swap;
  background-color: var(--primary);
  color: var(--secondary);
}

header {
  color: var(--primary);
  background-color: var(--secondary);
  padding: 1em;
  text-align: center;
}

header h1 {
  font-size: min(var(--step-5), 10vw) !important;
}

h1,
h2,
h3 {
  font-family: var(--display);
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
}

:is(h1, h2, h3) a:any-link {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

p,
ul:not([class]),
li,
time {
  font-size: var(--step-0);
}

img[data-image-type="icon"] {
  height: var(--space-s);
  border-radius: 3px;
}

.wrapper:not(header) {
  background-color: var(--primary);
  border: 4px solid var(--secondary);
}

/* https://css-tricks.com/accessible-simple-responsive-tables/#article-header-id-2 */

.table-wrapper {
  width: 100%;
}

table {
  width: 100%;
  overflow: auto;
  text-align: center;
  border: 4px solid var(--secondary);
  border-collapse: separate;
  border-spacing: 4px;
  /* padding: 2px; */
  table-layout: fixed;
  background-color: var(--primary);
  font-size: var(--step-0);
}

th {
  /* font-family: var(--display); */
  background-color: var(--secondary);
  padding: var(--space-m);
}

th,
td {
  padding-inline: var(--space-s);
  padding-block: var(--space-2xs);
  /* border: 4px solid var(--secondary); */
}

th {
  padding-inline: var(--space-xs);
  padding-block: var(--space-3xs);
  color: var(--primary);
  border: 4px solid var(--secondary);
  /* text-align: left; */

  /* font-size: var(--step-0); */
}

td {
  hyphens: auto;
  word-wrap: break-word;
}

tr {
  margin-bottom: 4px;
}

/* Global focus styles */
:focus-visible {
  outline: 2px solid var(--primary);
  outline-style: dotted;
  outline-offset: var(--space-3xs);
}

a:any-link:is(:hover, :focus-visible) {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
